%flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}
.tomato {
  @extend %flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  .clock{
    align-self: center;
  }
  .clock-btn {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    color: white;

    &.btn-danger {
      background-color: #de4b4b;
      border-color: #b92c28;
    }
    &.btn-warning {
      background-color: #f0ad4e;
      border-color: #eea236;
    }
  }
  .today-plan {
    margin-right: 20px;
    flex-grow: 1;
    font-size: 16px;

    > table {
      width: 100%;
      border: 1px solid #eee;
      font-size: 14px;

      tr {
        border: 1px solid #eee;
        th,
        td {
          width: 50%;
          padding: 8px 12px;
          border: 1px solid #eee;
        }
        td {
          div {
            padding: 12px;
            margin-bottom: 8px;
            min-width: 100px;
            background-color: #f3f3f3;
            border-radius: 6px;
            border: 1px solid #e4e4e4;

            b {
              margin-left: 8px;
            }
          }
          &.complete {
            div {
              background-color: #fff1df;
              border-color: #f3e0c7;
            }
          }
        }
      }
    }
  }
}
