%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}
.home {
  background-color: white;
  padding-bottom: 20px;
  > nav {
    @extend %flex;
    padding: 12px 28px;
    border-bottom: 1px solid #ddd;
    background: linear-gradient(to bottom, #fff 0, #f6f6f6 100%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);

    > #logo {
      @extend %flex;
      height: 32px;
      > img {
        height: 100%;
      }
      > h1 {
        margin: 0;
        margin-left: 8px;
        font-size: 18px;
        color: #ff5a5a;
      }
    }
    > .user {
      @extend %flex;
      > span {
        margin-right: 8px;
      }
      > button {
        &:hover {
          border-color: #ff5a5a;
          color: #ff5a5a;
        }
      }
    }
  }
  > main {
    padding: 40px 60px;
    > .content {
      @extend %flex;
      align-items: flex-start;
      aside {
        width: 280px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
    }
  }
}