.todoitem {
  padding: 12px 8px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #f8f8f8;
  }
  &.focus {
    background-color: #fff1df;
  }

  .textbox,
  .inputbox {
    margin-left: 8px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .todoicon {
      > * {
        margin: 0 4px;
        color: #aaa;
      }
    }
    > input {
      flex-grow: 1;
      border: none;
      outline: none;
      background-color: transparent;
    }
    > i {
      color: #aaa;
      margin: 0 4px;
    }
  }
}
.todoitem:last-child {
  border-bottom: none;
}

